:root {
  --border-color: linear-gradient(to right, #988bc7, #ff79c6);
  --clip-path: circle(50% at 50% 50%);
  --border-width: 5px;
  --filter: initial;
}

body,
#video-grid {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: nodrag;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  height: 100vh;
  pointer-events: none;
  background: #121214;
  filter: var(--filter);
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  margin: auto;

  position: relative;
  box-sizing: border-box;

  color: #fff;
  background: transparent;
  background-clip: padding-box;
}

#wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: calc(-1 * var(--border-width));
}

#video-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

#wrapper.has-border {
  border: solid transparent;
  border-width: var(--border-width);
}

#wrapper.has-border:before {
  background: var(--border-color);
}

#wrapper.has-clip-path:before,
#wrapper.has-clip-path #video-wrapper {
  clip-path: var(--clip-path);
}
