name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish_on_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2       
    - uses: actions/setup-node@master
      with:
        node-version: 14
    - uses: bahmutov/npm-install@v1
    - name: Publish release
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      run: yarn publish

  publish_on_mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@master
      with:
        node-version: 14
    - uses: bahmutov/npm-install@v1
    - name: Publish release
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      run: yarn publish

  publish_on_win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2       
    - uses: actions/setup-node@master
      with:
        node-version: 14
    - uses: bahmutov/npm-install@v1
    - name: Publish release
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      run: yarn publish